body{
    font-family: 'Roboto', sans-serif!important;

}
/*Accueil*/
#accueil .bloc_header{
    background-image: url("../../images/header.jpg");
    background-size: cover;
    width:100%;
    height:500px;
    margin-top:-100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#accueil .titre{
    margin-left:10%;
    color:white!important;
}

#accueil h1{
    font-size: 5.5rem!important;
    color:white!important;
    text-shadow: 1px 1px 5px black;
}

#accueil #Calque_1{
    margin-top:-100px;
}
.activity{
    display: flex;
    margin-top: 45px;
}
#accueil .texte p{
    margin-right: 10%;
    margin-left: 25%;
    margin-bottom:5%;
}
#accueil .texte h4{
    font-weight: bold;
    margin-left:20%;
    margin-bottom:4%;
}
#accueil .texte{
    margin-top:2%;
}

#accueil .image{
    margin-right:12%;
    height:85%;
    box-shadow: 10px 10px 20px rgb(85, 85, 85);
}

#accueil .plus{
    margin-left:85%;
}
#accueil .products{
    width:100%;
    height:100%;
    background-image: url('../../images/blue.jpg') ;
    background-size: 100% 100%;
}
#accueil .white_separator_bottom{
    transform: rotate(180deg);
    margin-bottom: -10px;
}
#accueil .Objectif{
    display:flex;
    flex-direction:column;
    text-align: center;
    margin-top:3%;
}
#accueil .corps_obj{
    display:flex;
    text-align: center;
    justify-content: space-around;
    margin-top:4%;
    margin-bottom:4%;
    font-weight: 700;
}

#accueil .title_obj h2{
    font-weight: bold!important;
}

/*produits*/

#produits img{
    display: block;
    margin: auto;
}
#produits .blocProduits {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #666;
    justify-content: space-evenly;
    margin-top:2%;
    margin-bottom:2%;
}
#produits .nosProduits {
    width: 20%;
    margin-right: 5%;
    border: solid 2px;
    border-radius: 10px;
}
#produits .nosProduits section {
    margin-top: 3%;
    margin-left: 8%;
}
#produits .nosProduits h6 {
    font-weight: bold;
}
#produits .ref {
    font-size: 17px;
}

/*presentations*/

.presentation .info{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:2%;
}
.presentation .image{
    margin-top:2%;
    margin-bottom:2%;
}
.presentation .repartition{
    display:flex;
    margin-right:20%;
    margin-left:20%;
}
.presentation .repartition p{
    margin-top:10%;
}
.presentation .titreBlack{
    margin-left:10%;
    color:black!important;
}
.presentation .white_separator_bottom{
    transform: rotate(180deg);
    margin-bottom: -2px;
}
.presentation .titre{
    margin-left: 10%;
    color:white!important;
    margin-top:8%;
}
.presentation h3{
    font-size: 3.0rem!important;
    color: white!important;
    text-shadow: 1px 1px 5px black;
}
.presentation .banniere{
    height:350px;
    margin-top:-100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #9AAfAF;
}
.presentation .text-left{
    margin: 3%;
    font-size: xx-large;
}
.presentation #comments{
    margin-top: 2%;
    margin-bottom: 2%;
}
.presentation .container{
    margin-bottom:2%;
}


@import "./partials/footer";
@import "./partials/menu";
